# Домашнее задание по теме: пакет `pandas` (основная информация)

## Подготовка окружения

In [ ]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

!pip -V

In [ ]:
# !conda install pandas -y

In [1]:
import pandas as pd

pd.__version__

'1.2.1'

## Загрузка и изучение данных

In [3]:
wiki_page = "https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D1%8F%D0%B7%D1%8B%D0%BA%D0%BE%D0%B2_%D0%BF%D0%BE_%D0%BA%D0%BE%D0%BB%D0%B8%D1%87%D0%B5%D1%81%D1%82%D0%B2%D1%83_%D0%BD%D0%BE%D1%81%D0%B8%D1%82%D0%B5%D0%BB%D0%B5%D0%B9"

In [14]:
# прочитать данные из указанной wiki страницы с помощью `pandas`
# ВНИМАНИЕ: при чтении указать номер колонки с индексом = 0
df_languages_list = pd.read_html(wiki_page)
display(df_languages_list[0])

           0                1
0  Состояние  отпатрулирована

In [15]:
# отобразить все прочитанные таблицы с веб-страницы
for index, df_from_page in enumerate(df_languages_list):
    display(df_from_page)

           0                1
0  Состояние  отпатрулирована

,№,Язык,Родной язык по версии Ethnologue[1],Основная страна,Количество стран
0,1,Китайский,1 296 461 000[2] — 1 311 000 000,Китай,39
1,2,Испанский,460 000 000,Испания,31
2,3,Английский,379 000 000,Великобритания,137
3,4,Хинди,341 000 000,Индия,4
4,5,Арабский,313 177 600[3] — 319 000 000,Саудовская Аравия,59
5,6,Бенгальский,228 000 000,Бангладеш,4
6,7,Португальский,221 000 000,Португалия,15
7,8,Русский,154 000 000,Россия,19
8,9,Японский,128 000 000,Япония,2
9,10,Лахнда (Западный панджаби),119 000 000,Пакистан,6
10,11,Маратхи,83 100 000,Индия,1
11,12,Телугу,82 000 000,Индия,2
12,13,Малайский,80 300 000,Малайзия,20
13,14,Турецкий,79 400 000,Турция,8
14,15,Корейский,77 300 000,Корея,6
15,16,Французский,77 200 000,Франция,54
16,17,Немецкий,76 100 000,Германия,28
17,18,Вьетнамский,76 000 000,Вьетнам,4
18,19,Тамильский,75 000 000,Индия,7
19,20,Урду,68 600 000,Пакистан,7
20,21,Яванский,68 300 000,Индонезия,3
21,22,Итальянский,64 800 000,Италия,14
22,23,Персидский,61 800 000,Иран,30
23,24,Гуджарати,56 400 000,Индия,7

,№,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
0,1,Китайский,1 212 560 000,Китай,"Китай, Тайвань, Сингапур, Малайзия","中文, 汉语"
1,2,Арабский,422 039 637,NaN,"страны Северной Африки, Саудовская Аравия, Ира...",العربية
2,3,Хинди,366 000 000,Индия,Индия,हिन्दी
3,4,Английский,341 000 000,Англия,"Великобритания, США, Канада, Австралия, Новая ...",English
4,5,Испанский,322 200 637,Испания,"Испания, Южная Америка (кроме Бразилии, Сурина...","Español, Castellano"
...,...,...,...,...,...,...
63,65,Чхаттисгархи,11 535 000,Индия,Индия,छत्तिसगढ़ी
64,66,Фула,11 428 700,Западная Африка,Западная Африка,"Pulaar, Fulfulde"
65,67,Дакхни[en],10 709 800,Индия,Индия,NaN
66,68,Малагасийский,10 484 000,Мадагаскар,Мадагаскар,Malagasy
67,69,Белорусский,10 200 000,Белоруссия,"Белоруссия, Польша",Беларуская мова

In [16]:
# получить dataframe с таблицей "Данные энциклопедии Encarta 2009 года"
df = pd.DataFrame(df_languages_list[2])
df

,№,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
0,1,Китайский,1 212 560 000,Китай,"Китай, Тайвань, Сингапур, Малайзия","中文, 汉语"
1,2,Арабский,422 039 637,NaN,"страны Северной Африки, Саудовская Аравия, Ира...",العربية
2,3,Хинди,366 000 000,Индия,Индия,हिन्दी
3,4,Английский,341 000 000,Англия,"Великобритания, США, Канада, Австралия, Новая ...",English
4,5,Испанский,322 200 637,Испания,"Испания, Южная Америка (кроме Бразилии, Сурина...","Español, Castellano"
...,...,...,...,...,...,...
63,65,Чхаттисгархи,11 535 000,Индия,Индия,छत्तिसगढ़ी
64,66,Фула,11 428 700,Западная Африка,Западная Африка,"Pulaar, Fulfulde"
65,67,Дакхни[en],10 709 800,Индия,Индия,NaN
66,68,Малагасийский,10 484 000,Мадагаскар,Мадагаскар,Malagasy
67,69,Белорусский,10 200 000,Белоруссия,"Белоруссия, Польша",Беларуская мова

In [18]:
# сохранить dataframe с таблицей "Данные энциклопедии Encarta 2009 года" в csv
df.to_csv('tmp/df_encarta_tmp.csv')

In [20]:
# вывести первые 20 строк
df_tmp = pd.read_csv('tmp/df_encarta_tmp.csv')
df_tmp.head(20)

,Unnamed: 0,№,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
0,0,1,Китайский,1 212 560 000,Китай,"Китай, Тайвань, Сингапур, Малайзия","中文, 汉语"
1,1,2,Арабский,422 039 637,NaN,"страны Северной Африки, Саудовская Аравия, Ира...",العربية
2,2,3,Хинди,366 000 000,Индия,Индия,हिन्दी
3,3,4,Английский,341 000 000,Англия,"Великобритания, США, Канада, Австралия, Новая ...",English
4,4,5,Испанский,322 200 637,Испания,"Испания, Южная Америка (кроме Бразилии, Сурина...","Español, Castellano"
5,5,6,Бенгальский,207 000 000,Бенгалия,"Бангладеш, Индия",বাংলা Bāṇlā
6,6,7,Португальский,176 000 000,Португалия,"Португалия, Ангола, Бразилия, Гвинея-Бисау, Ка...",Português
7,7,8,Русский,167 000 000,Россия,"Россия, Украина, Казахстан, Белоруссия, Литва,...",Русский язык
8,8,9,Японский,125 000 000,Япония,Япония,日本語
9,9,10,Немецкий,100 130 000,Германия,"Германия, Австрия, Швейцария, Люксембург, Лихт...",Deutsch
10,10,11,Корейский,78 000 000,Корея,"Республика Корея, КНДР, КНР, США, Япония","한국어, 조선말"
11,11,12,Французский,78 000 000,Франция,"Франция, Монако, Люксембург, Бельгия, Швейцари...",Français
12,12,13,Яванский,75 567 550,Индонезия,Индонезия,"Basa Jawa, Basa Jawi"
13,13,14,Телугу,69 666 000,Индия,Индия,తెలుగు
14,14,15,Маратхи,68 022 000,Индия,Индия,मराठी
15,15,16,Вьетнамский,68 000 000,Вьетнам,"Вьетнам, США, Камбоджа, Франция",Tiếng Việt
16,16,17,Тамильский,66 000 000,Индия,"Индия, Шри-Ланка, Сингапур, Малайзия",தமிழ்
17,17,18,Итальянский,62 000 000,Италия,"Италия, Сан-Марино, Ватикан, Швейцария (Тичино)",Italiano
18,18,19,Турецкий,61 000 000,Турция,"Турция, Германия, Болгария, Кипр",Türk dili (Türkçe)
19,19,20,Урду,60 290 000,Пакистан,"Пакистан, Индия","اردو, Urdu"

In [21]:
# вывести последние 7 строк
df_tmp.tail(7)

,Unnamed: 0,№,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
61,61,63,Греческий,12 000 000,Греция,"Греция, Кипр",Ελληνικά
62,62,64,Чешский,12 000 000,Чехия,Чехия,"Čeština, Česky"
63,63,65,Чхаттисгархи,11 535 000,Индия,Индия,छत्तिसगढ़ी
64,64,66,Фула,11 428 700,Западная Африка,Западная Африка,"Pulaar, Fulfulde"
65,65,67,Дакхни[en],10 709 800,Индия,Индия,NaN
66,66,68,Малагасийский,10 484 000,Мадагаскар,Мадагаскар,Malagasy
67,67,69,Белорусский,10 200 000,Белоруссия,"Белоруссия, Польша",Беларуская мова

In [22]:
# вывести список индексов
df_tmp.index.to_list()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67]

In [24]:
# вывести список значений колонки Язык
df_tmp['Язык'].unique().tolist()

['Китайский',
 'Арабский',
 'Хинди',
 'Английский',
 'Испанский',
 'Бенгальский',
 'Португальский',
 'Русский',
 'Японский',
 'Немецкий',
 'Корейский',
 'Французский',
 'Яванский',
 'Телугу',
 'Маратхи',
 'Вьетнамский',
 'Тамильский',
 'Итальянский',
 'Турецкий',
 'Урду',
 'Панджаби',
 'Украинский',
 'Гуджарати',
 'Тайский',
 'Польский',
 'Малаялам',
 'Каннада',
 'Ория',
 'Бирманский',
 'Азербайджанский',
 'Персидский',
 'Сунданский',
 'Пушту',
 'Румынский',
 'Бходжпури',
 'Хауса',
 'Майтхили',
 'Сербохорватский',
 'Авадхи',
 'Узбекский',
 'Йоруба',
 'Нидерландский',
 'Синдхи',
 'Игбо',
 'Амхарский',
 'Оромо',
 'Индонезийский',
 'Тагальский',
 'Непальский',
 'Ассамский',
 'Сараики',
 'Себуанский',
 'Венгерский',
 'Читтагонг',
 'Чжуанский',
 'Шона',
 'Мадурский',
 'Сингальский',
 'Марвари',
 'Магахи',
 'Харьянви',
 'Греческий',
 'Чешский',
 'Чхаттисгархи',
 'Фула',
 'Дакхни[en]',
 'Малагасийский',
 'Белорусский']

In [25]:
# вывести список наименований колонок
df_tmp.columns.to_list()

['Unnamed: 0',
 '№',
 'Язык',
 'Родной язык по версии Encarta[4]',
 'Средоточие',
 'Территории распространения',
 'Самоназвание(образец письменности)']

In [36]:
# вывести строку с номером (№) равным 68=Малагасийский
# (доступ по метке)
df_tmp.loc[df_tmp['№'] == 68]

,Unnamed: 0,№,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
66,66,68,Малагасийский,10 484 000,Мадагаскар,Мадагаскар,Malagasy

In [39]:
# вывести строку с номером (№) равным 68=Малагасийский
# (доступ по числовому значению)
df_tmp.iloc[66]

Unnamed: 0                                       66
№                                                68
Язык                                  Малагасийский
Родной язык по версии Encarta[4]         10 484 000
Средоточие                               Мадагаскар
Территории распространения               Мадагаскар
Самоназвание(образец письменности)         Malagasy
Name: 66, dtype: object

In [41]:
# вывести dataframe отфильтрованный по условию:
# значение колонки "Средоточие" == "Индия"
df_tmp[df_tmp["Средоточие"] == "Индия"]

,Unnamed: 0,№,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
2,2,3,Хинди,366 000 000,Индия,Индия,हिन्दी
13,13,14,Телугу,69 666 000,Индия,Индия,తెలుగు
14,14,15,Маратхи,68 022 000,Индия,Индия,मराठी
16,16,17,Тамильский,66 000 000,Индия,"Индия, Шри-Ланка, Сингапур, Малайзия",தமிழ்
22,22,23,Гуджарати,46 100 000,Индия,Индия,ગુજરાતી
25,25,26,Малаялам,35 706 000,Индия,Индия,മലയാളം
26,26,27,Каннада,35 346 000,Индия,Индия,ಕನ್ನಡ
27,27,28,Ория,32 300 000,Индия,Индия,ଓଡ଼ିଆ
34,34,35,Бходжпури,26 254 000,Индия,Индия,भोजपुरी
36,36,37,Майтхили,24 191 900,Индия,Индия,मैथिली
38,38,40,Авадхи,20 540 000,Индия,Индия,अवधी
49,49,51,Ассамский,15 374 000,Индия,Индия,অসমিয়া
58,58,60,Марвари,13 183 000,Индия,Индия,मारवाड़ी
59,59,61,Магахи,13 000 000,Индия,Индия,मगही
60,60,62,Харьянви,13 000 000,Индия,Индия,हरियाणवी
63,63,65,Чхаттисгархи,11 535 000,Индия,Индия,छत्तिसगढ़ी
65,65,67,Дакхни[en],10 709 800,Индия,Индия,NaN

In [ ]:
# вывести количество уникальных значений в колонке "Средоточие"
df_tmp[df_tmp["Средоточие"] == "Индия"]

In [44]:
# вывести все уникальные значения в колонке "Средоточие" (тип list)
df_tmp["Средоточие"].unique().tolist()

['Китай',
 nan,
 'Индия',
 'Англия',
 'Испания',
 'Бенгалия',
 'Португалия',
 'Россия',
 'Япония',
 'Германия',
 'Корея',
 'Франция',
 'Индонезия',
 'Вьетнам',
 'Италия',
 'Турция',
 'Пакистан',
 'Украина',
 'Таиланд',
 'Польша',
 'Мьянма',
 'Азербайджан',
 'Иран',
 'Афганистан',
 'Румыния',
 'Западная Африка',
 'Сербия, Хорватия,',
 'Узбекистан',
 'Нигерия',
 'Нидерланды',
 'Эфиопия',
 'Филиппины',
 'Непал',
 'Венгрия',
 'Бангладеш',
 'Зимбабве',
 'Шри-Ланка',
 'Греция',
 'Чехия',
 'Мадагаскар',
 'Белоруссия']

In [45]:
# переименовать колонку "Родной язык по версии Encarta[4]" на "Родной язык"
df = df_tmp.rename(columns={"Родной язык по версии Encarta[4]": "Родной язык"})
# вывести список наименований колонок в датафрейме
df.columns.tolist()

['Unnamed: 0',
 '№',
 'Язык',
 'Родной язык',
 'Средоточие',
 'Территории распространения',
 'Самоназвание(образец письменности)']

In [52]:
# получить сведения о датафрейме
# обратить внимание на типы
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 7 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          68 non-null     int64
 1   №                                   68 non-null     int64
 2   Язык                                68 non-null     object
 3   Родной язык                         68 non-null     object
 4   Средоточие                          67 non-null     object
 5   Территории распространения          68 non-null     object
 6   Самоназвание(образец письменности)  67 non-null     object
dtypes: int64(2), object(5)
memory usage: 3.8+ KB

In [49]:
# вывести минимальное значение из колонки "Родной язык"
df['Родной язык'].sort_values()

0     1 212 560 000
67       10 200 000
66       10 484 000
65       10 709 800
9       100 130 000
          ...
14       68 022 000
13       69 666 000
12       75 567 550
11       78 000 000
10       78 000 000
Name: Родной язык, Length: 68, dtype: object

In [48]:
# вывести максимальное значение из колонки "Родной язык"
df['Родной язык'].max()

'78 000 000'

Результаты методов `min`/`max` выглядит ожидаемы? Что с ними "так" или "не так"?

Привести свои идеи.
Кол-во носителей языка в данном случае не является числом, тип данных - object, сортировка происходит в лексикографическом порядке
(место для ответа)